<footer>

    <nav>
        <ul>
            <li><button src=""><i class="fa-solid fa-house-chimney"></i></button></li>
            <li><button src=""><i class="fa-solid fa-magnifying-glass"></i></button></li>
            <li><button src=""><i class="fa-solid fa-heart"></i></button></li>
            <li><button src=""><i class="fa-solid fa-user"></i></button></li>
        </ul>
    </nav>

</footer>