<main>

    <header>
        <ul>
            <li>
                <h1>Start swiping!</h1>
            </li>
        </ul>
    </header>

    <section>
        <ul>
            <li><img src="images/shirt.png" alt="shirt"></li>
        </ul>

        <ul>
            <li>
                <h2>Shirt</h2>
            </li>
            <li>
                <h3>$15</h3>
            </li>
        </ul>

        <ul>
            {{!-- <li><input type="button"><i class="fa-solid fa-check"></i></li> --}}
            <li><input type="button" value="Yes!"></li>
            <li><input type="button" value="No.."></li>
            {{!-- <li><button src=""><i class="fa-solid fa-xmark"></i></button></li> --}}
        </ul>
    </section>

</main>

<footer>

    <nav>
        <ul>
            <li><button src=""><i class="fa-solid fa-house-chimney"></i></button></li>
            <li><button src=""><i class="fa-solid fa-magnifying-glass"></i></button></li>
            <li><button src=""><i class="fa-solid fa-heart"></i></button></li>
            <li><button src=""><i class="fa-solid fa-user"></i></button></li>
        </ul>
    </nav>

</footer>